@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

html, body { margin:0; padding:0;  }

#wrapper{  
  top:0; 
  left:0;  
  width:100%;
  height:auto; 
  position:relative;
}

#headline{
  position:absolute;
  top: 3%;
  width:100%;
  text-align:center;
  font-family: 'Carter One';
  font-size: 25px;
  line-height: 0.5em;
  color:rgb(5, 0, 57);
}

#subhead{
  color:rgb(5, 0, 57);
  font-family: 'Inter', serif;
  font-size: 20px;
  text-shadow: 0px 0px 0 transparent;
}

#byline{
  color:rgb(217, 241, 240);
  font-family: 'Inter', serif;
  font-size: 12px;
  text-shadow: 0px 0px 0 transparent;
  line-height: 1em;  
}

#dog{
  width: 3%;
  height: auto;
  padding: 0 0 0 0; 
}

.active{
        stroke-opacity: 1;
        stroke: red !important;
        stroke-width:5px;
}
#wrapper-counter{

    position: fixed;
    top:7%;
    right:10%;
    text-align: center;
    font-family: 'Carter One';
    font-size: 35px;
    color:rgb(5, 0, 57);

    background-color:white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    line-height: 0em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

#name-counter{
  color:rgb(5, 0, 57);
  font-family: 'Inter', serif;
  font-size: 17px;
}

a:link {
  color:rgb(217, 241, 240);
}

a:visited {
  color:rgb(217, 241, 240);
}

a:hover {
  color:rgb(5, 0, 57);
}

a:active {
  color:rgb(0, 237, 241)
}

#congrats{
position: fixed;
top:40%;
left:40%;
background-color:white;
border: solid rgb(5, 0, 57);
box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
line-height: 0em;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 15px;
padding-right: 15px;
border-radius: 5px;
visibility:hidden
}

#congrats-head{
text-align: center;
font-family: 'Carter One';
font-size: 35px;
color: rgb(15, 0, 61);
}

#congrats-subhead{
  color:rgb(5, 0, 57);
  font-family: 'Inter', serif;
  font-size: 20px;
  text-shadow: 0px 0px 0 transparent;
  text-align: center;
}

@media (max-width: 1100px) {
  h2{
    font-size: 24px;
  }
  p{
    font-size: 14px;
  }
  #name-counter{
    font-size: 14px;
  }
  #byline{
    font-size: 8.5px;
  }
  #wrapper-counter{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
  }
  #congrats{
    top:30%;
    left:35%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
  }
  #congrats-head{
    font-size: 24px;
  }
  #congrats-subhead{
    font-size: 14px;  
  } 

  }

@media (max-width: 700px) {
  h2{
    font-size: 20px;
  }
  p{
    font-size: 10px;
  }
  #name-counter{
    font-size: 8px;
  }
  #byline{
    font-size: 6px;
  }
  #congrats{
    top:25%;
    left:30%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 1.5px;
  }
  #congrats-head{
    font-size: 20px;
  }
  #congrats-subhead{
    font-size: 8px;  
  }

}